@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Gloria+Hallelujah&display=swap');
$dis:flex;
$cent:center;
$rel:relative;
$abs:absolute;
$pix:12px;
$back: #ffffff1a;
$filt:blur(4px);
$font:"Caveat Brush", cursive;
@mixin toggleButton{
        padding: 0.25em 0.25em;
        border-radius: 10px;
        background-color: #ef7903;
        color: #fff;
        border: none;
        cursor: pointer;
        font-family: $font;
        font-size: 1.6em;
}
body{
    background: #09080d;
}
.profilePicContainer{
    display: $dis;
    flex-direction: column;
    align-items: $cent;
    gap: 10px;
    height: 130vh;
    padding-top: 2em;
    width: 90%;
    
    border-radius: 25px;
    background: linear-gradient(to right, #ef7903 40%,#824100 80%, #512d02 100%);
    position: $rel;
    top: 1em;
    font-family: $font;
    left: 4%;
    .imagePreview{
        width: 7em;
        height: 7em;
        margin-bottom: 1em;
        border-radius: 50%;
        object-fit: cover;
        border: 4px solid #ccc;
        font-family: "Gloria Hallelujah", cursive;
        font-size: 1.2em;
    }
    .defaultAvatarsContainer{
        display: grid;
        z-index: 4;
        margin-top: 4.5em;
        grid-template-columns: repeat(3,minmax(0,1fr));
        gap: 0.75rem;
        .defaultAvatarButton{
            border-radius: $pix;
            border: none;
            //background: transparent;
            .defaultAvatar{
                height:5rem;
                width:5rem;
                border-radius: 50%;
                object-fit: cover;
                border-width: 2px;
            }
        }
    }
    
    .toggleButtons{
        display: flex;
        flex-direction: row;
        position:$abs;
        top: 12em;
        left: 17%;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 2.8em; /* added 'em' unit */
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 18em;
        border-radius: 12px;
        background: #ffffff1a;
        backdrop-filter: blur(10px);
        .avatarButton{
            @include toggleButton;
            
        }
        .choseFile{
            @include toggleButton;
            
        
        }

    }
    input[type="file"]{
            display: none;
        }
    

}
form{
    display: grid;
    margin-top: 4em;
    margin-bottom: 5em;
    width: 40%;
    margin-right: 5rem;
    padding: 1rem;
    z-index: 1;
    position: $rel;
    float: right;
    grid-template-columns: 1fr;
    label{
        font-size: 1.5rem;
        font-weight: 600;
    }
    input{
        width: 100%;
        background: lightgray;
        z-index: 1;
        height: 2em;
        font-size: 1.2rem;
        margin-top: 0.5em;
        border-radius: 5px;
        border: none;
        outline: none;
        
    }
    button{
        @include toggleButton;
        width: 100%;
        margin-top: 1em;
        font-size: 1.6rem;
        font-weight: 600;
    }
}
header{
    display: flex;
    justify-content: $cent;
    align-items: $cent;
    //background:$back;
    border-radius: $pix;
    background: linear-gradient(135deg, #f983c0, #ff0280, #a259ff, #6a00f4);
    background: linear-gradient(135deg, #440880 10%, #aa54f9 40%, #a13bf9 50%, #440880 100%);


    //backdrop-filter: $filt;
    height: 7em;
    width: 100%;
    z-index: 20;
    position: sticky;
    top: 0;
    //box-shadow: 4px 4px 14px rgb(237, 235, 235)
    font-family: $font;
    width: 100%;
    .profilePic{
        width: 5em;
        height: 5em;
        position: $abs;
        left: 80%;
        border-radius: 50%;
        object-fit: cover;
        border: 4px solid #a09e9e;
    }
    .avatarPlaceholder{
        width: 5em;
        height: 5em;
        position: $abs;
        display: flex;
        justify-content: $cent;
        align-items: $cent;
        left: 80%;
        border-radius: 50%;
        font-size: 1rem;
        font-weight: 700;
        border: 4px solid #a09e9e;
        h2{
            font-size: 6rem;
        }
    }
}
.heroSection{
    overflow-x: hidden;
    h1{
        color: transparent;
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 4rem;
        text-align: center;
        font-family: $font;
    }
    .backImage{
        position: absolute;
        top: 10em;
        overflow-x: hidden;
        left: 0;
        width: 100%;
        height: 70%;
        z-index: -1;
        //filter: $filt;
        
    }
    
}