@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Gloria+Hallelujah&display=swap');
$dis:flex;
$cent:center;
$rel:relative;
$abs:absolute;
$pix:12px;
$back: #ffffff1a;
$filt:blur(4px);
$font:"Caveat Brush", cursive;
$col:#c8c8c8;
@mixin toggleButton{
        padding: 0.25em 0.25em;
        border-radius: 10px;
        background-color: #ef7903;
        color: #fff;
        border: none;
        cursor: pointer;
        font-family: $font;
        font-size: 1.6em;
}
@mixin bucketButton{
    position: $rel;
    width: 2em;
    height: 2em;
    font-size: 2rem;
    font-weight: 600;
    z-index: 12;
    border-radius: $pix;
    background-color: #ef7903;
    color:$col;
}
body{
    background: #09080d;
}
.profilePicContainer{
    display: $dis;
    flex-direction: column;
    align-items: $cent;
    gap: 10px;
    height: 130vh;
    padding-top: 2em;
    width: 90%;
    
    border-radius: 25px;
    background: linear-gradient(to right, #ef7903 40%,#824100 80%, #512d02 100%);
    position: $rel;
    top: 1em;
    font-family: $font;
    left: 4%;
    .imagePreview{
        width: 7em;
        height: 7em;
        margin-bottom: 1em;
        border-radius: 50%;
        object-fit: cover;
        border: 4px solid #ccc;
        font-family: "Gloria Hallelujah", cursive;
        font-size: 1.2em;
    }
    .defaultAvatarsContainer{
        display: grid;
        z-index: 4;
        margin-top: 4.5em;
        grid-template-columns: repeat(3,minmax(0,1fr));
        gap: 0.75rem;
        .defaultAvatarButton{
            border-radius: $pix;
            border: none;
            //background: transparent;
            .defaultAvatar{
                height:5rem;
                width:5rem;
                border-radius: 50%;
                object-fit: cover;
                border-width: 2px;
            }
        }
    }
    
    .toggleButtons{
        //display: flex;
        //flex-direction: row;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        position:$abs;
        top: 12em;
        left: 30%;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 10em; /* added 'em' unit */
        padding: 0.5rem;
        width: 10em;
        border-radius: 12px;
        background: #ffffff1a;
        backdrop-filter: blur(10px);
        .avatarButton{
            @include toggleButton;
            
        }
        .choseFile{
            @include toggleButton;
        }
        .googleSignIn{
            @include toggleButton;

        }

    }
    input[type="file"]{
            display: none;
        }
    

}
form{
    display: grid;
    margin-top: 10em;
    margin-bottom: 5em;
    width: 40%;
    margin-right: 0rem;
    padding: 1rem;
    z-index: 1;
    position: $rel;
    float: right;
    grid-template-columns: 1fr;
    label{
        font-size: 1.5rem;
        font-weight: 600;
    }
    input{
        width: 100%;
        background: lightgray;
        z-index: 1;
        height: 2em;
        font-size: 1.2rem;
        margin-top: 0.5em;
        border-radius: 5px;
        border: none;
        outline: none;
        
    }
    button{
        @include toggleButton;
        width: 100%;
        margin-top: 1em;
        font-size: 1.6rem;
        font-weight: 600;
    }
    .errorMessage{
        position: $rel;
        //top: 0;
        //right: 0em;
        height: 10em;
        width: 15em;
        text-align: $cent;
        background: radial-gradient(circle at center, #ff4e4e 0%, #a10000 80%);
        border-radius: $pix;
        color: white;
        font-family: $font;
        z-index: 1;


    }
}
header{
    display: flex;
    justify-content: $cent;
    align-items: $cent;
    //background:$back;
    border-radius: $pix;
    background: linear-gradient(135deg, #f983c0, #ff0280, #a259ff, #6a00f4);
    background: linear-gradient(135deg, #440880 10%, #aa54f9 40%, #a13bf9 50%, #440880 100%);

    //backdrop-filter: $filt;
    height: 7em;
    width: 100%;
    z-index: 20;
    position: sticky;
    top: 0;
    //box-shadow: 4px 4px 14px rgb(237, 235, 235)
    font-family: $font;
    width: 100%;
    .profilePic{
        width: 5em;
        height: 5em;
        position: $abs;
        left: 80%;
        border-radius: 50%;
        object-fit: cover;
        border: 4px solid #a09e9e;
    }
    .avatarPlaceholder{
        width: 5em;
        height: 5em;
        position: $abs;
        display: flex;
        justify-content: $cent;
        align-items: $cent;
        left: 80%;
        transform: rotate(-10deg);
        border-radius: 50%;
        font-size: 1rem;
        font-weight: 700;
        border: 4px solid #a09e9e;
        h2{
            font-size: 6rem;
        }
    }
}
.heroSection{
    overflow-x: hidden;
    h1{
        color: transparent;
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 4rem;
        text-align: center;
        font-family: $font;
    }
    .backImage{
        position: absolute;
        margin-top: 1em;
        top: 10em;
        overflow-x: hidden;
        left: 0;
        width: 100%;
        height: 70%;
        z-index: -1;
        //filter: $filt;
        
    }
    
}
.bucketForm{
    display: grid;
    margin-bottom: 0em;
    margin-top: 2em;
    width: 90%;
    margin-right: 0rem;
    padding: 1rem;
    z-index: 1;
    font-family: $font;
    position: $rel;
    float: right;
    grid-template-columns: 1fr;
    background: radial-gradient(circle, #ff69b4, #8a2be2);
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    &:first-child{
        margin-top: 7em;
    }
    h1{
        font-weight: 700;
        margin-bottom: 0.5rem;
        color:$col;
    }
    label{
        font-size: 2.5rem;
        color: $col;

        font-weight: 600;

    }
    input, textarea{
        width: 90%;
        padding: 0.2em;
        border-radius: 0.25em;
        border: 1px solid #e5e7eb;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        font-family: $font;
    }
    textarea{
        height: 6em;
        width: 80%;
        &:focus{
            outline: none;
        }
    }
    button{
        @include toggleButton;
        width: 90%;
        margin-top: 1em;
        font-size: 2rem;
        font-weight: 600;
        background: linear-gradient(to right, #ff69b4, #8a2be2);
        background: radial-gradient(circle, #ff69b4, #8a2be2);
        color: $col;
    }
}

.bucketControlButtons{
    background: $back;
    backdrop-filter: $filt;
    position: fixed;
    height: 20em;
    width: 3.5em;
    top: 10em;
    left: 90%;
    transform: translateX(-50%);
    //display: flex;
    //flex-direction: row;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1em;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 10;
    button{
        @include toggleButton;
        @include bucketButton;
    }
    span{
        background: white;
        position: $abs;
        text-align: $cent;
        right: 5em;
        width:10em ;
        font-family: $font;
        font-size: 1.5rem;
        border-radius: $pix;
        height:2em;
        padding-bottom: 1em;
        &::after{
            content: "";
            position: $abs;
            top: 19%; /* Position at the bottom of the tooltip */
            left: 108%;
            transform: translateX(-50%);
            border-width: 1em;
            border-style: solid;
            border-color: transparent transparent transparent #fff;

        }
        &:first-of-type{
            top: 0.5em;
        }
        &:nth-of-type(2){
            top: 4.2em;
        }
        &:nth-of-type(3){
            top: 7.8em;
        }
        &:nth-of-type(4){
            top: 11.2em;
        }

    }

}
.bucketHistory{
    height: 70vh;
    width: 70%;
    background: linear-gradient(135deg, #ff007f, #ff66b2, #ff99cc);
    background: linear-gradient(135deg, #ff007f 0%, #e60073 50%, #ff66b2 100%);
    color: $col;
    z-index: 3;
    position: $rel;
    border-radius: $pix;
    top: 0em;
    //transform: rotateY(25deg);
    left: 6em;
    //perspective: 1000px;
    padding: 1em;
    .history{
        position: $abs;
        height: fit-content;
        padding: 1em;
        border-radius: $pix;
        box-sizing: content-box;
        background: red;
        font-family: $font;
        font-size: 1.5rem;
        margin-bottom: 1em;

    }
    

}
.showButtons{
    height: 2em;
    //width: 2em;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 3;
    top: 10em;
    padding: 1rem;
    left: 80%;
    background: #440880;
    border-radius: 12px;
    span{
        height: 0.25rem;
        width: 3.5rem;
        border-radius: 0.25rem;
        background-color: black;

    }
}