@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Gloria+Hallelujah&display=swap");
body {
  background: #09080d;
}

.profilePicContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 130vh;
  padding-top: 2em;
  width: 90%;
  border-radius: 25px;
  background: linear-gradient(to right, #ef7903 40%, #824100 80%, #512d02 100%);
  position: relative;
  top: 1em;
  font-family: "Caveat Brush", cursive;
  left: 4%;
}
.profilePicContainer .imagePreview {
  width: 7em;
  height: 7em;
  margin-bottom: 1em;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #ccc;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.2em;
}
.profilePicContainer .defaultAvatarsContainer {
  display: grid;
  z-index: 4;
  margin-top: 4.5em;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.75rem;
}
.profilePicContainer .defaultAvatarsContainer .defaultAvatarButton {
  border-radius: 12px;
  border: none;
}
.profilePicContainer .defaultAvatarsContainer .defaultAvatarButton .defaultAvatar {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-width: 2px;
}
.profilePicContainer .toggleButtons {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  top: 12em;
  left: 30%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 10em; /* added 'em' unit */
  padding: 0.5rem;
  width: 10em;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1019607843);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.profilePicContainer .toggleButtons .avatarButton {
  padding: 0.25em 0.25em;
  border-radius: 10px;
  background-color: #ef7903;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Caveat Brush", cursive;
  font-size: 1.6em;
}
.profilePicContainer .toggleButtons .choseFile {
  padding: 0.25em 0.25em;
  border-radius: 10px;
  background-color: #ef7903;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Caveat Brush", cursive;
  font-size: 1.6em;
}
.profilePicContainer .toggleButtons .googleSignIn {
  padding: 0.25em 0.25em;
  border-radius: 10px;
  background-color: #ef7903;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Caveat Brush", cursive;
  font-size: 1.6em;
}
.profilePicContainer input[type=file] {
  display: none;
}

form {
  display: grid;
  margin-top: 10em;
  margin-bottom: 5em;
  width: 40%;
  margin-right: 0rem;
  padding: 1rem;
  z-index: 1;
  position: relative;
  float: right;
  grid-template-columns: 1fr;
}
form label {
  font-size: 1.5rem;
  font-weight: 600;
}
form input {
  width: 100%;
  background: lightgray;
  z-index: 1;
  height: 2em;
  font-size: 1.2rem;
  margin-top: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
}
form button {
  padding: 0.25em 0.25em;
  border-radius: 10px;
  background-color: #ef7903;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Caveat Brush", cursive;
  font-size: 1.6em;
  width: 100%;
  margin-top: 1em;
  font-size: 1.6rem;
  font-weight: 600;
}
form .errorMessage {
  position: relative;
  height: 10em;
  width: 15em;
  text-align: center;
  background: radial-gradient(circle at center, #ff4e4e 0%, #a10000 80%);
  border-radius: 12px;
  color: white;
  font-family: "Caveat Brush", cursive;
  z-index: 1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: linear-gradient(135deg, #f983c0, #ff0280, #a259ff, #6a00f4);
  background: linear-gradient(135deg, #440880 10%, #aa54f9 40%, #a13bf9 50%, #440880 100%);
  height: 7em;
  width: 100%;
  z-index: 20;
  position: sticky;
  top: 0;
  font-family: "Caveat Brush", cursive;
  width: 100%;
}
header .profilePic {
  width: 5em;
  height: 5em;
  position: absolute;
  left: 80%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #a09e9e;
}
header .avatarPlaceholder {
  width: 5em;
  height: 5em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 80%;
  transform: rotate(-10deg);
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 700;
  border: 4px solid #a09e9e;
}
header .avatarPlaceholder h2 {
  font-size: 6rem;
}

.heroSection {
  overflow-x: hidden;
}
.heroSection h1 {
  color: transparent;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 4rem;
  text-align: center;
  font-family: "Caveat Brush", cursive;
}
.heroSection .backImage {
  position: absolute;
  margin-top: 1em;
  top: 10em;
  overflow-x: hidden;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: -1;
}

.bucketForm {
  display: grid;
  margin-bottom: 0em;
  margin-top: 2em;
  width: 90%;
  margin-right: 0rem;
  padding: 1rem;
  z-index: 1;
  font-family: "Caveat Brush", cursive;
  position: relative;
  float: right;
  grid-template-columns: 1fr;
  background: radial-gradient(circle, #ff69b4, #8a2be2);
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.bucketForm h1 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #c8c8c8;
}
.bucketForm label {
  font-size: 2.5rem;
  color: #c8c8c8;
  font-weight: 600;
}
.bucketForm input, .bucketForm textarea {
  width: 90%;
  padding: 0.2em;
  border-radius: 0.25em;
  border: 1px solid #e5e7eb;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "Caveat Brush", cursive;
}
.bucketForm textarea {
  height: 6em;
  width: 80%;
}
.bucketForm textarea:focus {
  outline: none;
}
.bucketForm button {
  padding: 0.25em 0.25em;
  border-radius: 10px;
  background-color: #ef7903;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Caveat Brush", cursive;
  font-size: 1.6em;
  width: 90%;
  margin-top: 1em;
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(to right, #ff69b4, #8a2be2);
  background: radial-gradient(circle, #ff69b4, #8a2be2);
  color: #c8c8c8;
}
.bucketForm:first-of-type {
  margin-top: 15em;
}

.bucketControlButtons {
  background: rgba(255, 255, 255, 0.1019607843);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  position: fixed;
  height: 20em;
  width: 3.5em;
  top: 10em;
  left: 90%;
  transform: translateX(-50%);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1em;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.bucketControlButtons button {
  padding: 0.25em 0.25em;
  border-radius: 10px;
  background-color: #ef7903;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Caveat Brush", cursive;
  font-size: 1.6em;
  position: relative;
  width: 2em;
  height: 2em;
  font-size: 2rem;
  font-weight: 600;
  z-index: 12;
  border-radius: 12px;
  background: linear-gradient(135deg, #ef7903 40%, #824100 80%, #512d02 100%);
  color: #c8c8c8;
}
.bucketControlButtons span {
  background: white;
  position: absolute;
  text-align: center;
  right: 5em;
  width: 10em;
  font-family: "Caveat Brush", cursive;
  font-size: 1.5rem;
  border-radius: 12px;
  height: 2em;
  padding-bottom: 1em;
}
.bucketControlButtons span::after {
  content: "";
  position: absolute;
  top: 19%; /* Position at the bottom of the tooltip */
  left: 108%;
  transform: translateX(-50%);
  border-width: 1em;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}
.bucketControlButtons span:first-of-type {
  top: 0.5em;
}
.bucketControlButtons span:nth-of-type(2) {
  top: 4.2em;
}
.bucketControlButtons span:nth-of-type(3) {
  top: 7.8em;
}
.bucketControlButtons span:nth-of-type(4) {
  top: 11.2em;
}

.bucketHistory {
  height: 70vh;
  font-family: "Caveat Brush", cursive;
  width: 70%;
  background: linear-gradient(135deg, #ff007f, #ff66b2, #ff99cc);
  background: linear-gradient(135deg, #ff007f 0%, #e60073 50%, #ff66b2 100%);
  color: #c8c8c8;
  z-index: 3;
  position: fixed;
  border-radius: 12px;
  top: 10em;
  overflow-y: auto;
  left: 7em;
  padding: 1em;
}
.bucketHistory::-webkit-scrollbar {
  display: none;
}
.bucketHistory h2 {
  text-align: center;
  font-size: 2.6rem;
}
.bucketHistory .history {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
  border-radius: 12px;
  box-sizing: content-box;
  background: linear-gradient(135deg, #ff69b4, #8a2be2);
  font-family: "Caveat Brush", cursive;
  font-size: 1.5rem;
  margin-bottom: 1em;
}
.bucketHistory .history h3 {
  font-size: 2rem;
}
.bucketHistory .history h3 span {
  font-weight: 700;
  color: black;
}
.bucketHistory .history p {
  font-size: 1.8rem;
}
.bucketHistory .history p span {
  font-weight: 700;
  color: black;
}
.bucketHistory .history button {
  padding: 0.25em 0.25em;
  border-radius: 10px;
  background-color: #ef7903;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Caveat Brush", cursive;
  font-size: 1.6em;
  width: 90%;
  margin-top: 1em;
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(to right, #ff69b4, #8a2be2);
  background: radial-gradient(circle, #ff69b4, #8a2be2);
  color: #c8c8c8;
}
.bucketHistory .history .editForm {
  display: grid;
  margin-bottom: 0em;
  margin-top: 2em;
  width: 90%;
  margin-right: 0rem;
  padding: 1rem;
  z-index: 1;
  font-family: "Caveat Brush", cursive;
  position: relative;
  float: right;
  grid-template-columns: 1fr;
  background: radial-gradient(circle, #ff69b4, #8a2be2);
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0em;
}
.bucketHistory .history .editForm h1 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #c8c8c8;
}
.bucketHistory .history .editForm label {
  font-size: 2.5rem;
  color: #c8c8c8;
  font-weight: 600;
}
.bucketHistory .history .editForm input, .bucketHistory .history .editForm textarea {
  width: 90%;
  padding: 0.2em;
  border-radius: 0.25em;
  border: 1px solid #e5e7eb;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "Caveat Brush", cursive;
}
.bucketHistory .history .editForm textarea {
  height: 6em;
  width: 80%;
}
.bucketHistory .history .editForm textarea:focus {
  outline: none;
}
.bucketHistory .history .editForm button {
  padding: 0.25em 0.25em;
  border-radius: 10px;
  background-color: #ef7903;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Caveat Brush", cursive;
  font-size: 1.6em;
  width: 90%;
  margin-top: 1em;
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(to right, #ff69b4, #8a2be2);
  background: radial-gradient(circle, #ff69b4, #8a2be2);
  color: #c8c8c8;
}

.showButtons {
  height: 2em;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 4;
  top: 10em;
  padding: 1rem;
  left: 80%;
  background: #440880;
  border-radius: 12px;
}
.showButtons span {
  height: 0.25rem;
  width: 3.5rem;
  border-radius: 0.25rem;
  background-color: black;
}

.saveAlert {
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px;
  bottom: 3em;
  z-index: 7;
  right: 1em;
  background: radial-gradient(circle, #53ff53, #00a100);
  position: fixed;
  font-size: 1.5rem;
  font-family: "Caveat Brush", cursive;
}/*# sourceMappingURL=Bucket.css.map */