@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Gloria+Hallelujah&display=swap');
$dis:flex;
$cent:center;
$rel:relative;
$abs:absolute;
$pix:12px;
$font:"Caveat Brush", cursive;
@mixin toggleButton{
        padding: 0.5em 1em;
        border-radius: 10px;
        background-color: #ef7903;
        color: #fff;
        border: none;
        cursor: pointer;
        font-family: $font;
        font-size: 1.2em;
}
body{
    background: #09080d;
}
.profilePicContainer{
    display: $dis;
    flex-direction: column;
    align-items: $cent;
    gap: 10px;
    height: 130vh;
    padding-top: 2em;
    width: 90%;
    
    border-radius: 25px;
    background: linear-gradient(to right, #ef7903 40%,#824100 80%, #512d02 100%);
    position: $rel;
    top: 1em;
    font-family: $font;
    left: 4%;
    .imagePreview{
        width: 7em;
        height: 7em;
        margin-bottom: 1em;
        border-radius: 50%;
        object-fit: cover;
        border: 4px solid #ccc;
        font-family: "Gloria Hallelujah", cursive;
        font-size: 1.2em;
    }
    .defaultAvatarsContainer{
        display: grid;
        z-index: 4;
        margin-top: 4.5em;
        grid-template-columns: repeat(3,minmax(0,1fr));
        gap: 0.75rem;
        .defaultAvatarButton{
            border-radius: $pix;
            border: none;
            //background: transparent;
            .defaultAvatar{
                height:5rem;
                width:5rem;
                border-radius: 50%;
                object-fit: cover;
                border-width: 2px;
            }
        }
    }
    
    .toggleButtons{
        display: flex;
        flex-direction: row;
        position:$abs;
        top: 12em;
        left: 17%;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 2.5em; /* added 'em' unit */
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 18em;
        border-radius: 12px;
        background: #ffffff1a;
        backdrop-filter: blur(10px);
        .avatarButton{
            @include toggleButton;
            
        }
        .choseFile{
            @include toggleButton;
            
        
        }

    }
    input[type="file"]{
            display: none;
        }
    

}
form{
    display: grid;
    margin-top: 4em;
    margin-bottom: 5em;
    width: 40%;
    margin-right: 5rem;
    padding: 1rem;
    z-index: 1;
    position: $rel;
    float: right;
    grid-template-columns: 1fr;
    label{
        font-size: 1.5rem;
        font-weight: 600;
    }
    input{
        width: 100%;
        background: lightgray;
        z-index: 1;
        height: 2em;
        font-size: 1.2rem;
        margin-top: 0.5em;
        border-radius: 5px;
        border: none;
        outline: none;
        
    }
    button{
        @include toggleButton;
        width: 100%;
        margin-top: 1em;
        font-size: 1.2rem;
        font-weight: 600;
    }
}