@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Gloria+Hallelujah&display=swap');
$dis:flex;
$cent:center;
$rel:relative;
$abs:absolute;
$pix:12px;
body{
    background: #09080d;
}
.profilePicContainer{
    display: $dis;
    flex-direction: column;
    align-items: $cent;
    gap: 10px;
    height: 80vh;
    padding-top: 3em;
    width: 70%;
    border-radius: 25px;
    background: linear-gradient(to right, #ef7903 40%,#824100 80%, #512d02 100%);
    position: $rel;
    top: 5em;
    font-family: "Caveat Brush", cursive;
    left: 10%;
    .imagePreview{
        width: 7em;
        height: 7em;
        border-radius: 50%;
        object-fit: cover;
        border: 4px solid #ccc;
    }
    .defaultAvatarsContainer{
        display: grid;
        grid-template-columns: repeat(7,minmax(0,1fr));
        gap: 0.75rem;
        .defaultAvatarButton{
            border-radius: $pix;
            border: none;
            //background: transparent;
            .defaultAvatar{
                height:5rem;
                width:5rem;
                border-radius: 50%;
                object-fit: cover;
                border-width: 2px;
            }
        }
    }
    .choseFile{
        cursor: pointer;
        margin-top: 0.5rem;
        padding: 1rem 0.25rem;
        color: #000;
        font-size: 2rem;
        border-radius: 0.25rem;
        input[type="file"]{
            display: none;
        }
    }
    
    
    

}